<div class="container-fluid">
    <div class="row">
        <nav class="nav custom-nav bg-dark text-light fixed-top navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <h5 class="text-light py-1 px-2">Adoptarium</h5>
            <div class="collapse navbar-collapse" id="navbarNav">
            <a class="nav-link active text-light py-1 px-2" href="#cristian1">Testimonios</a>
            <a class="nav-link text-light py-1 px-2" href="#cristian2">¿Por qué adoptar?</a>
            <a class="nav-link text-light py-1 px-2" href="#german">Servicios</a>
            <a class="nav-link text-light py-1 px-2" href="#angel">Contáctanos</a>
        </nav>
    </div>
</div>
</div>