<!-- your html code here -->

<div class="container">
    
    <nav class="nav bg-dark" style="width: 100%;">
        <h3 class="text-light bg-dark">Start Bootstrap</h3>  
        <a class="nav-link active text-light bg-dark" href="./first_heading.html"><h5>Testimonios</h5> </a>
        <a class="nav-link text-light bg-dark" href="./services.html"><h5>¿Por qué adoptar?</h5></a>
        <a class="nav-link text-light bg-dark" href="./portfolio.html"><h5>Servicios</h5></a>
        <a class="nav-link text-light bg-dark" href="./contact.html"><h5>Contáctanos</h5></a>
    </nav>
</div>