<div class="container mt-3 mb-5">
  <div class="row">
    <div class="col-md-4 ps-5"><img src="https://img.freepik.com/foto-gratis/adorable-estilo-vida-gato_23-2151593307.jpg"
        class="rounded-circle img-fluid custom-img object-fit pb-4 mx-auto d-block" alt="Gatofeliz">
    </div>
    <div class="col-md-8 pe-4">
      <h1>
        Una nueva oportunidad
        <small class="text-black-50">una nueva vida</small>
      </h1>
      <p>Damos la oportunidad a muchas familias de ser adoptadas por un michi.
        <br>Contamos con muchos años de servicios e incontables adopciones, siempre tratando de encontrar la media naranja gatuna,asi que no lo dudes y unete a este gran momento.</br>
      </p>
    </div>
    <hr>
  </div>