<div class="container">
    <style>
    .jumbotron {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/564/256/1012/1920x1080-px-black-black-background-black-cats-cat-dark-selective-coloring-nature-fields-hd-art-wallpaper-preview.jpg);
    background-size: cover;
    background-position: center;
    color: white; 
    height: 400px;
    width: 100%;
    }
</style>

<div class="jumbotron jumbotron-fluid">
    <div class="tagline-custom">
        <h1>Adopta un Michi</h1>
        <p>Adopta un gato... <br>porque los humanos necesitan<br>supervisión constante.</p>
    </div>
</div>
</div>
